.main_section {
  @apply mb-10;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    'title form'
    'image form'
    'image form';

  gap: 1em;
}
.title {
  grid-area: title;
  width: 95%;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.02em;
}

.image {
  grid-area: image;
  @apply w-full  max-w-sm;
  justify-self: center;
  margin-left: -20em;
}

.form {
  grid-area: form;

  justify-self: center;
}

// Mobile
@media (max-width: 767px) {
  .main_section {
    @apply flex flex-col gap-10 justify-center items-center;
  }
  .title {
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.02em;
  }

  .image {
    margin-left: 0;
  }

  .form {
    @apply mt-14;
  }
}
