.select {
  @apply w-56 h-10 border-2 rounded-lg shadow-sm;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  text-indent: 1rem;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  background-image: url('@/assets/input_arrow.svg');
  background-repeat: no-repeat;
  background-position: 90% 50%;
  background-size: 1.5rem;
  &:hover {
    outline: none;
    border: 2px solid #bbb;
  }
}
.label {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.03em;
}
.selector_section {
  @apply flex flex-col gap-3 items-start mb-2;
}

@media (max-width: 767px) {
  .select {
    @apply w-full;
  }
}
