.resultPage {
  @apply w-full flex flex-col gap-6;
  .title_container {
    @apply flex justify-between items-center md:flex-col;
    .title {
      @apply flex flex-col gap-5;

      h1 {
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 0.04em;
      }
      h4 {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;
      }
    }
    .title_image {
      width: 30rem;
    }
  }
  h2 {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.02em;
  }
  .histogram_info_container {
    @apply flex flex-col gap-3 mb-10;

    .histogram_count {
      @apply flex gap-2;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.02em;
      color: #949494;
    }
  }
}

.results_container {
  @apply w-full flex flex-col gap-6;
}

.no_results_container {
  @apply flex flex-col gap-5;
  h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }
  .button {
    @apply bg-button w-48 h-9 rounded-md flex justify-center items-center;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: white;
  }
}
